@import './../../../styles.scss';

.single-project-section {
    @include display();
    flex-direction: column;
}


.wide-screen-container {
    @include display();
    flex-direction: column;
    >div {
        padding-top: 93px;
        >h1 {
            font-family: "Baloo 2", Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-size: 64px;
            margin: 0 0 0 25px;
            line-height: 72.8px;
            letter-spacing: 0;
            color: $color-red;
        }
        >p {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 19.2px;
            margin: 0 20px 0 25px;
        }
    }
}


section {
    position: relative;
    @include display();
    // margin: 93px 0 0 0;
    
    .bubbles {
        position: absolute;
    }

    .desk-bubbles {
        position: absolute;
        display: none;
    }


}

@media (min-width: 1440px) {
    .wide-screen-container {
        max-width: 1440px;
        >div {
            align-self: flex-start;
            max-width: 1440px;
            h1 {
                font-size: 96px;
                line-height: 96px;
                margin: 0 0 0 0;
            }
            p {
                font-size: 23px;
                margin: 35px 0 102px 0;
                line-height: 27.6px;
            }
        }
    }

    section {
        margin: 0 100px;

        .bubbles {
            display: none;
        }
    
        .desk-bubbles {
            display: block;
        }
    }

    .single-project-section {
        align-items: flex-end !important;
        margin: 0 0 137px 0;
        max-width: 1440px;
    }

    .bg-row {
        display: flex;
        flex-direction: row;
        gap: 88px;
        opacity: 1;
        // animation: swipein 4s;
    }



    .bg-row-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        gap: 88px;

    }
}