@import './../../../../styles.scss';

section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    @include display();
    cursor: default;
    >div {
        background: radial-gradient(circle at top left, #FF5959 0%, #FF5959 50%, #DE0000 100%);
        padding: 20px 40px;
        border: 1px solid $color-red;
        border-radius: 10px;
        color: $color-white;
        font-size: 24px;
        filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2)); 
    }
}