<section>
    <app-header></app-header>
    <div class="content-container">
        <div class="text-container">
            <h1>Hello! I am Max</h1>
            <h2>Frontend <span>Developer</span></h2>
        </div>
        <img class="character-img" src="./assets/img/top-aot/portfolio-small.png" alt="character-pic">
    </div>
    <div class="desktop-content-container">
        <div>
            <h3>Scroll</h3>
            <div class="desktop-pipe"></div>
        </div>
        <div class="d-gap">
            <div><img src="./assets/img/top-aot/github.png" alt=""></div>
            <div><img src="./assets/img/top-aot/desk-mail.png" alt=""></div>
            <div><img src="./assets/img/top-aot/linkin.png" alt=""></div>
            
            
        </div>
    </div>
     
    <img class="big-bubble" src="./assets/img/top-aot/bubble-3-big.png" alt="background-red-bubble">
    <img class="medium-bubble" src="./assets/img/top-aot/bubble-5-medium.png" alt="background-red-bubble">
</section>