
    <a href="{{ project.projecturl }}" target="_blank" class="mobile-alignment"><img src="{{ project.img }}" alt=""></a>
    <div class="text-content" id="{{ project.id }}" [ngClass]="textDirection(project.id)">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.languages }}</h2>


        <p>{{ 'CONTACT.PROJECTDESCRIPTION' | translate: { description: getProjectDescription(project) } }}</p>
        <div class="button-container">
            <a href="{{ project.projecturl }}" target="_blank" class="bg-color button-large desktop-button-margin">Live test</a>
            <a href="{{ project.githuburl }}" target="_blank" class="button-large desktop-button-margin">Github</a>
        </div>
    </div>
