
    <img src="{{ project.img }}" alt="">
    <div class="text-content" id="{{ project.id }}" [ngClass]="textDirection(project.id)">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.languages }}</h2>
        <p>{{ project.description }}</p>
        <div class="button-container">
            <a href="{{ project.projecturl }}" target="_blank" class="button-large bg-color d-none">Live test</a>
            <a href="{{ project.githuburl }}" target="_blank" class="button-large desktop-button-margin">Github</a>
        </div>

    </div>





