<section>
    <img class="small-bubble" src="./assets/img/personall-description/bubble-6-small.png" alt="background-red-bubble">
    <h1>Let's work together</h1>
    <div>
        <p>
            I am a Front-end developer based in Unna, Germany. 
            I enjoy helping designers and companies bring their ideas into real life. 
            I am looking forward to continuing my developer career with a job in a junior web developer position.
            <br><br>
            If you think I’d be a good match for your projects, contact me!
        </p>
        <a href="#contact" class="button-large">Send a message</a>
        
    </div>

</section>
