<div class="wide-screen-container">
    <section>
        <img class="small-bubble" src="./assets/img/personall-description/bubble-6-small.png" alt="background-red-bubble">
        <h1>{{ 'DESCRIPTION.TITLE' | translate}}</h1>
        <div>
            <p>
                {{ 'DESCRIPTION.STARTTEXT' | translate}}
                <br><br>
                {{ 'DESCRIPTION.ENDTEXT' | translate}}
            </p>
            <a href="#contact" class="button-large">{{ 'DESCRIPTION.BUTTON' | translate}}</a>
            
        </div>
    </section>
</div>

