<div class="wide-screen-container">
    <section>
        <img src="./assets/img/top-aot/bubble-5-medium.png" alt="" class="bubble">
        <h1>{{ 'FOOTER.IMPRINT' | translate}}</h1>
        <h2>{{ 'IMPRINT.ACCORDING' | translate}}</h2>
        <br>
        <h2>Maximilian Mühlbauer</h2>
        <h2>Mühlenstraße 2a</h2>
        <h2>59423 Unna</h2>
        <br>
        <h1>{{ 'IMPRINT.CONTACT' | translate}}</h1>
        <h2><a href="tel:+015253416793">0152 534 167 93</a></h2>
        <h2><a href="mailto:maximilian-muehlbauer@web.de">maximilian-muehlbauer&#64;web.de</a></h2>
        <br>
        <br>
        <h1>{{ 'IMPRINT.DISCLAIMER' | translate}}</h1>
        <h2>{{ 'IMPRINT.DISC_TEXT' | translate}}</h2> 
    </section>
</div>



