@import './../../styles.scss';

section {
    @include display($ai: flex-start);
    flex-direction: column;
    padding: 128px 0 0 24px;

}

h1 {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: $color-red;
}

h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-red;
    line-height: 22px;
}