@import './../../styles.scss';

.wide-screen-container {
    @include display();
}

section {
    @include display($ai: flex-start);
    flex-direction: column;
    padding: 172px 32px;
    color: $color-red;
    max-width: 1440px;
    position: relative;
    // z-index: 6;
    a{
        text-decoration: none;
        color: $color-red;
    }
    >.bubble {
        position: absolute;
        top: -64px;
        left: -64px;
        transform: scale(1.5);
        transform-origin: top left;
    }
    
}

h1 {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-size: 32px;
}

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 22px;
}

@media (min-width: 1024px) {
    section {
        padding: 172px 40px;
    }
}

@media (min-width: 768px) {
    section {
        padding: 172px 40px 120px 40px;
    }
}

@media (min-width: 1440px) {
    section {
        >.bubble {
            position: absolute;
            top: -94px;
            left: -56px;
            transform: scale(1.7);
            transform-origin: top left;
        }
    }

    h1 {
        font-size: 48px;
    }
}


