<div class="wide-screen-container">
    <section>
        <div class="text-container">
            <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
            <h2>{{ 'CONTACT.SECONDTITLE' | translate }}</h2>
            <p>{{ 'CONTACT.TEXT' | translate }}</p>
            <span>{{ 'CONTACT.QUESTION' | translate }} <span>{{ 'CONTACT.ME' | translate }}</span></span>
        </div>
        <div class="form-container" (keyup)="checkAllFields()">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-container">
                    <input #name="ngModel" [(ngModel)]="contactData.name" name="username" type="text" id="name" placeholder="" required>
                    <label for="name">{{ 'CONTACT.YOURNAME' | translate }}</label>
                    @if (name.dirty) {
                        @if (contactData.name.length <= 1) {
                            <img src="./assets/img/contact/error.png" alt="">
                            <p>{{ 'CONTACT.NAMEERR' | translate }}</p>
                        }@else {
                            <img src="./assets/img/contact/done.png" alt="">
                        }
                    }
                </div>
    
                <div class="input-container" (keyup)="checkAllFields()">
                    <input #mail="ngModel" [(ngModel)]="contactData.email" name="usermail" type="email" id="mail" placeholder="" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <label for="mail">{{ 'CONTACT.YOURMAIL' | translate }}</label>
                    @if (mail.dirty) {
                        @if (mail.errors?.['pattern']) {
                            <img src="./assets/img/contact/error.png" alt="">
                            <p>{{ 'CONTACT.MAILERR' | translate }}</p>
                        }@else if (contactData.email.length > 0) {
                            <img src="./assets/img/contact/done.png" alt="">
                        }@else if (mail.errors?.['required']) {
                            <p>{{ 'CONTACT.MAILERRSEC' | translate }}</p>
                        }
                    }
                </div>
    
                <div class="input-container" (keyup)="checkAllFields()">
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="10" name="usermessage" type="text" id="text" placeholder="" required></textarea>
                    <label for="text">{{ 'CONTACT.YOURMSG' | translate }}</label>
                    @if (message.dirty) {
                        @if (message.errors?.['minlength']) {
                            <img src="./assets/img/contact/error.png" alt="">
                            <p>{{ 'CONTACT.MSGERR' | translate }}</p>
                        }@else if (contactData.message.length > 0) {
                            <img src="./assets/img/contact/done.png" alt="">
                        }@else if (message.errors?.['required']) {
                            <p>{{ 'CONTACT.MSGERRSEC' | translate }}</p>
                        }
                    }
                    
    
                </div>            
    
                <div class="confirm-container">
                    <div class="checkbox-container" (click)="checkBoxState(); checkAllFields()">
                        <img src="{{ checkboxPath }}" alt="">
                        <input type="checkbox" id="checkbox" class="checkbox">
                        <label for="checkbox"></label>
                    </div>
                    <span>{{ 'CONTACT.POLICYONE' | translate }}<a href="privacypolicy">{{ 'CONTACT.POLICYSEC' | translate }}</a> {{ 'CONTACT.POLICYTHIRD' | translate }}</span>
                </div>
                   <button [ngClass]="btnState()" (click)="clearForm()" class="m-bot desk-m-top" [disabled]="isDisabled">{{ 'CONTACT.BUTTON' | translate }}</button>
            </form>
            <a class="button-top" (click)="scrollToTop()"><img src="./assets/img/contact/to-top.png" alt=""></a>
        </div>
        <img src="./assets/img/contact/bubble-1.png" alt="" class="bubbles" [ngStyle]="{bottom: '49px', right: '25px'}">
        <img src="./assets/img/contact/bubble-2.png" alt="" class="bubbles zindex" [ngStyle]="{top: '372px', left: '113px'}">
    
        <img src="./assets/img/contact/desk-bubble-1.png" alt="" class="desk-bubbles" [ngStyle]="{bottom: '188px', left: '242px'}">
        <img src="./assets/img/contact/desk-bubble-2.png" alt="" class="desk-bubbles" [ngStyle]="{bottom: '68px', right: '91px'}">
    
        
        <app-msg-send-succ [class.d-none]="visibleSucces"></app-msg-send-succ>
    </section>
</div>


