<div class="wide-screen-container">
    <section>
        <div class="footer-container">
            <a href="index"><img src="./assets/img/footer/logo-footer.png" alt=""></a>
            <div class="name-container">
                <h2>&copy; Maximilian Mühlbauer</h2>
                <a href="imprint" class="desktop-impressum">{{ 'FOOTER.IMPRINT' | translate }}</a>
    
                
            </div>
            <div class="icon-container">
                <a href="https://github.com/maksmuehlbauer" target="_blank"><img src="./assets/img/footer/Github button.png" alt=""></a>
                <a href="mailto:maximilian-muehlbauer@web.de" target="_blank"><img src="./assets/img/footer/mail.png" alt=""></a>
                <a href="https://www.linkedin.com/in/maximilian-mühlbauer-324226317" target="_blank"><img src="./assets/img/footer/linkedin.png" alt=""></a>
            </div>
            <a href="imprint" class="mobile-impressum">{{ 'FOOTER.IMPRINT' | translate }}</a>
        </div>
    </section>
</div>

