<section>
    <div class="name-container">
        <a href="index"><img src="./assets/img/footer/logo-footer.png" alt=""></a>
        <h2>&copy; Maximilian Mühlbauer</h2>
    </div>
    <div class="icon-container">
        <a href="#"><img src="./assets/img/footer/Github button.png" alt=""></a>
        <a href=""><img src="./assets/img/footer/mail.png" alt=""></a>
        <a href=""><img src="./assets/img/footer/linkedin.png" alt=""></a>
    </div>
    <a href="imprint">Impressum</a>
</section>
