<section>
    <div class="footer-container">
        <a href="index"><img src="./assets/img/footer/logo-footer.png" alt=""></a>
        <div class="name-container">
            <h2>&copy; Maximilian Mühlbauer</h2>
            <a href="imprint" class="desktop-impressum">Impressum</a>

            
        </div>
        <div class="icon-container">
            <a href="#"><img src="./assets/img/footer/Github button.png" alt=""></a>
            <a href="#"><img src="./assets/img/footer/mail.png" alt=""></a>
            <a href="#"><img src="./assets/img/footer/linkedin.png" alt=""></a>
        </div>
        <a href="imprint" class="mobile-impressum">Impressum</a>
    </div>

</section>
