@import './../../../styles.scss';

.wide-screen-container {
    @include display();
    background-image: url(./../../../assets/img/skills/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    width: 100%;
    padding-top: 50px;
    h1 {
        font-family: "Baloo 2", Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 64px;
        text-align: center;
        letter-spacing: 0;
        color: $color-white;
        margin: 0;
    }
}

.logo-container {
    @include display($flex: grid, $jc: space-between);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 17px;
    padding: 35px 0 43px 0;
    margin: 0 32px;
    flex-wrap: wrap;
}

.skill-container {
    @include display($jc: space-between);
    flex-direction: column;
    color: $color-white;
    flex: 1;
    gap: 10px;
    >p {
        font-size: 14px;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        text-align: center;
    }
    >img {
        height: 60px;
    }
}

.last-element-class {
    grid-column-start: 2;
}

@media (min-width: 1440px) {

    section{
        max-width: 1440px;
        h1 {
            font-size: 96px;
        }
    }

    .logo-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        // margin: 0 242px;
        row-gap: 48px;
        column-gap: 131px;
        padding: 60px 0 100px 0;

    }

    .skill-container {
        width: 80px;
        object-fit: cover;
        gap: 10px;
        transition: all 125ms ;
        &:hover {
            font-weight: 600;
            >img {
                transform: translateY(-21px);
            }
        }
        >img {
            height: 75px;
            object-fit: cover;
            transition: all 125ms ;
        }
        p {
            font-size: 16px;
            cursor: default;
        }
    }

    .last-element-class {
        grid-column-start: auto;
    }

}